<!DOCTYPE HTML>
<html>
<head>
    <title>Add Student to Database</title>
</head>
<body>
    <h1> Add Student to Database</h1>
    <form action = "/student_add" METHOD=POST>
        <label>First name:
            <input type="text" name="first_name">
        </label>
        <label>Last Name:
            <input type="text" name="last_name">
        </label>
        <label>Github:
            <input type="text" name="github">
        </label>
        <input type ="submit" value="Add Student"> 
    </form>

</body>
</html>